
* {
    font-family: sans-serif;
    color: #fff;
}

body {
    margin: 0;
    background-image: url(/css/tarea_1/escena-puesta-sol-montanas-lago-vieja-cabana-madera-ilustracion-vectorial_263779-1336.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: 'Monserrat';
    src: url(Montserrat-SemiBold.ttf);
}

h1 {
    text-align: center;
    margin-top: 2.5rem;
    font-family: 'Monserrat';
}

h4 {
    font-family: 'Monserrat';
}

.form__container {
    width: 500px;
    border: 1px solid;
    padding: 40px;
    border-radius: 25px;
    margin: 3em auto;
    margin-bottom: 10rem;
    backdrop-filter: blur(10px);
}

div {
    border-radius: 25px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;
}

input, textarea, select {
    width: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: transparent;
}

textarea {
    resize: vertical;
    max-height: max-content;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

input::placeholder, textarea::placeholder {
    color: #fff;
}

option {
    color: #000;
}

button:hover {
    background-color: #eaeaea;
    transform: scale(1.02);
}